/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --colorDarkBlue: #114084;
    --colorBlue: #3466aa;
    --colorLightBlue: #82b7dc;
    --colorWhite: #f1f1f1;
    --colorGrey: #808080;
    --colorBlack: #1c1c1c;
    --colorLightRed: #f8d7da;
    --colorDarkRed: #dc3545;
    --colorLightGreen: #d4edda;
    --colorDarkGreen: #28a745;
    --fontPrimary: 'Poppins', sans-serif;
    --letterSpacing: 1px;
    --borderRadius: 0.25rem;
    --transition: all 0.15s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

/* NAVBAR */
/* ==================================================================================================== */

nav {
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
}

.nav-center {
    max-width: 1024px;
    margin: 0 auto;
    width: 90vw;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-btn {
    background: transparent;
    border: transparent;
    font-size: 1.7rem;
    transition: var(--transition);
    cursor: pointer;
}

.nav-btn:hover {
    background: transparent;
    border: transparent;
    color: var(--colorLightBlue);
}

.nav-header h3 span {
    color: var(--colorBlue);
}

.nav-icons {
    display: none;
}

.nav-links a {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--colorBlack);
    transition: var(--transition);
    letter-spacing: var(--letterSpacing);
}

.nav-links a:hover {
    color: var(--colorLightBlue);
    padding-left: 0.5rem;
}

.nav-links {
    display: grid;
    row-gap: 1rem;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 12rem;
}

@media screen and (min-width: 900px) {
    .nav-btn {
        display: none;
    }
    .nav-icons,
    .nav-links {
        display: flex;
        gap: 1rem;
    }
    .nav-links {
        gap: 1.5rem;
        height: auto;
    }
    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-icons a {
        font-size: 1.5rem;
        color: var(--colorBlue);
        transition: var(--transition);
    }
    .nav-icons a:hover {
        color: var(--colorLightBlue);
    }
    .nav-links a:hover {
        color: var(--colorLightBlue);
        padding-left: 0rem;
    }
}

/* SECTIONS */
/* ==================================================================================================== */

section {
    height: calc(100vh - 80px);
}

section h1 {
    text-align: center;
    color: var(--colorBlue);
}

#home {
    height: 100vh;
    background: white;
}

#about {
    background: var(--colorWhite);
}

#projects {
    background: white;
}

#contact {
    background: var(--colorWhite);
}

/* END */
/* ==================================================================================================== */
