/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --colorDarkBlue: #114084;
    --colorBlue: #3466aa;
    --colorLightBlue: #82b7dc;
    --colorWhite: #f1f1f1;
    --colorGrey: #808080;
    --colorBlack: #1c1c1c;
    --colorLightRed: #f8d7da;
    --colorDarkRed: #dc3545;
    --colorLightGreen: #d4edda;
    --colorDarkGreen: #28a745;
    --fontPrimary: 'Poppins', sans-serif;
    --letterSpacing: 1px;
    --borderRadius: 0.25rem;
    --transition: all 0.15s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
    position: relative;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}

/* QUESTIONS */
/* ==================================================================================================== */

.section {
    margin: 5rem 0;
}

.section .title {
    color: var(--colorBlue);
    text-align: center;
}

.questions {
    width: 90vw;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 2rem;
}

.question {
    background: var(--colorWhite);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    transition: var(--transition);
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-title p {
    color: var(--colorBlack);
    font-weight: 500;
    font-size: 1.1rem;
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--colorBlue);
    transition: var(--transition);
}

.question-btn:hover {
    color: var(--colorLightBlue);
}

.question-text {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    color: rgb(50, 50, 50);
}

.question-text {
    display: none;
}

.minus-icon {
    display: none;
}

.show-text .question-text {
    display: block;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

/* END */
/* ==================================================================================================== */
